<?xml version="1.0"?>
<launch>


  <arg name="world" default="worlds/empty.world"/>
  
  <!-- <param name="robot_description" textfile="$(find rob_description)/urdf/robot_arm_urdf_v2.urdf" /> -->


  <param name="robot_description" command="$(find xacro)/xacro $(find rob_description)/urdf/spider_assembly.xacro" /> 


  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>
  
  <!-- <node
    name="tf_footprint_base"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" /> -->
  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>
  
  <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->
  
  <!-- Spawn a robot into Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model robot  -param robot_description -x 0 -y 0 -z 0" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(arg world)"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>

  </include>

  
</launch>

