<launch>

  <include file="$(find rob_description)/launch/rtabmap_gazebo.launch"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
	<rosparam file="$(find rob_description)/launch/config/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rob_description)/launch/config/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rob_description)/launch/config/teb/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rob_description)/launch/config/teb/global_costmap_params.yaml" command="load" />

	<param    name="base_global_planner"       value="global_planner/GlobalPlanner"/>
        <rosparam file="$(find rob_description)/launch/config/teb/planner_global.yaml" command="load" />

	<rosparam file="$(find rob_description)/launch/config/teb/planner_teb.yaml" command="load" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
  </node>

</launch>